body {
  background-color: #fffbf7;
  margin: 0px;
  padding: 0px;
}

h1 {
  color: #46484c;
  text-align: center;
  font-size: 60px;
}

p {
  color: #8b8b8bcc;
  font-family: verdana;
  font-size: 20px;
}

button {
  color: #fff;
  background-color: #025157;
}

.fixed-header {
  position: fixed;
  top: 0;
  left: 0;
  right: 0;
  background-color: #fffbf7;
}


.header {
  /* margenes externos */
  /* margin-top: 40px;
    margin-left: 20px;
    margin-right: 20px;
    margin-bottom: 40px; */
  /*      top  r     b    l */
  margin: 40px 20px 40px 20px;
  /* margenes internos */
  /* padding-top:50px ;
    padding-left: 40PX;
    padding-right: 40PX;
    padding-bottom: 50px; */
  /*      top  r     b    l */
  /* padding: 50px 40px 40px 50px; */
}

.header>* {
  display: inline-block;
  font-size: 16px;
  line-height: 45px;
  vertical-align: middle;
  height: 100%;
}

li {
  display: inline;
}

.logo {
  width: 15%;
}

.logo>img {
  width: 15%;
}

.navbar {
  width: 60%;
  text-align: center;
  color: #025157;
  font-weight: 500;
}

.actions {
  width: 15%;
  text-align: right;
  font-size: 14px;
  font-weight: 600;
}

.main {
  margin-top: 285px;
  text-align: center;
}

.promo {
  display: flex;
  width: 70%;
  margin: 100px auto;
  align-items: center;
  /* flex-direction: column-reverse; */
}

.explanatory-video {
  display: flex;
  flex-direction: column;
  align-items: center;
}

.explanatory-video img {
  width: 29px;
  margin-top: 10px;
}

/* .publish {
  /* container styles if any 
} */

.publish h3 {
  font-family: "Alegreya", serif;
  font-size: 40px;
  line-height: 48px;
  color: #025157;
}

.publish>p {
  font-size: 16px;
  color: #343434;
  line-height: 1.5;
  margin-bottom: 20px;
}

.publish>form {
  display: flex;
}

.publish>form p {
  color: #025157;
  margin-right: 18px;
}


.features {
  display: grid;
  /* grid-template-columns: 300px 300px 300px 300px ; */
  grid-template-columns: repeat(3, 300px);
  /* grid-template-columns: 500px 1fr; */
  /* grid-template-columns: 1fr 1fr; */
  /* grid-template-rows: ; */
}

.features>article {
  width: 300px;
  height: 300px;
  border-radius: 12px;
  background-color: rgb(10, 106, 12);
}

/* @media (breakpoint) {
  /** Aplica estilos particulares para este tamaño 
} */

/* @media (max-width: 1275px) {
  body {
    background-color: rgb(29, 45, 35);
  }

  .fixed-header {
    background-color: #db8f43;
  }
}


@media (max-width: 975px) {
  body {
    background-color: rgb(217, 0, 255);
  }

  .fixed-header {
    background-color: #1281c2;
  }
}


@media (max-width: 775px) {
  body {
    background-color: rgb(0, 221, 255);
  }

  .fixed-header {
    background-color: #7dc0e6;
  }
} */

@media (max-width: 575px) {
  /* body {
    background-color: rgb(234, 255, 0);

  } */

  .fixed-header {
    display: none;
  }

  .main {
    margin-top: 130px;
  }

  h1 {
    font-size: 30px;
  }

  .main > img {

    width: 100%;
  }

  .promo {
    flex-direction: column;
    max-width: 90%;
  }

  
  .explanatory-video > video {
    width: 100%;
  }

  .publish > h3 {
    font-size: 25px;
    line-height: 32px;
  }

  .publish > form {
    flex-direction: column;
  }

  .publish > form > div {
    height: 50px;
    margin-top: 10px;
  }

  .publish > form > div > input {
    width: 65%;
  }

  .features {
    grid-template: repeat(4, 1fr) / 1fr;
    padding-left: 0;
    padding-right: 0;
  }
}

/* @media (max-width: 375px) {
  body {
    background-color: rgb(227, 87, 45);
  }

  .fixed-header {
    background-color: #9cc212;
  }

}

@media (max-width: 275px) {
  body {
    background-color: rgb(188, 66, 109);
  }

  .fixed-header {
    background-color: #c21293;
  }

} */